# Configuration file

deeds {
    # IRL days before deeds downgrade 1 tier. 0 means disabled. If at tier 0, deed is revoked [range: 0 ~ 2147483647, default: 7]
    I:daysBeforeDowngrade=7

    # Deed upgrade tier definitions. Array entries are radius:cost    -  Total area is (2r + 1)^2 [default: [0:0], [1:1500], [3:10000], [6:25000]]
    S:deedTiers <
        0:0
        1:1500
        3:10000
        6:25000
     >

    # amount 1 diamond is worth when deposited [range: 0 ~ 30000, default: 500]
    I:diamondValue=500

    # amount 1 emerald is worth when deposited [range: 0 ~ 30000, default: 300]
    I:emeraldValue=300

    # amount of protected chunks immune to upkeep [range: 0 ~ 2147483647, default: 1]
    I:freeChunks=1

    # amount 1 gold ingot is worth when deposited [range: 0 ~ 30000, default: 100]
    I:goldValue=100

    # Is building/destroying protected on claimed chunks? [default: true]
    B:isBuildProtected=true

    # Are explosions protected on claimed chunks? (doesn't matter the source) [default: false]
    B:isExplosionProtected=false

    # Is fire protected on claimed chunks? (no fire spread if on) [default: true]
    B:isFireProtected=true

    # Is interaction protected on claimed chunks? (opening doors, chests, etc) [default: true]
    B:isInteractProtected=true

    # Is pvp protected on claimed chunks? (no pvp damage if so) [default: false]
    B:isPvpProtected=false

    # Is sleep protected on claimed chunks? (Outsiders may sleep, but spawn point won't be set) [default: false]
    B:isSleepProtected=false

    # max amount that may be stored in player vault [range: 0 ~ 2147483647, default: 30000]
    I:maxVault=30000

    # Cost per minecraft day per protected chunk [range: 0 ~ 2147483647, default: 0]
    I:upkeepCost=0
}


